.nav__item.active {
  transition: all linear 0.3s;
  color: white;
  // background-image: linear-gradient(to right, #135f9e, rgb(78, 143, 207));
  background-color: #5e7488;
}
.nav__item {
  color: white;
  height: 42px;
}
